<div class="login-page">
  <div class="form">

    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>

    <form class="login-form">
      <input type="text" 
             id="usernameEntry"
             placeholder="Username"
             required 
             [(ngModel)]="username" 
             name="usernameEntry"
             #usernameEntry="ngModel"/>
    
      <div *ngIf="(errorun && usernameEntry.pristine) || (usernameEntry.errors && (usernameEntry.dirty || usernameEntry.touched))" >
        <div [hidden]="!usernameEntry.errors.required" class="errmsg">{{errorun}}</div>
      </div> 

      <input type="password"
             id="passwordEntry" 
             placeholder="password"
             required 
             [(ngModel)]="password" 
             name="passwordEntry"
             #passwordEntry="ngModel"/>

      <div *ngIf="(errorpw && passwordEntry.pristine) || (passwordEntry.errors && (passwordEntry.dirty || passwordEntry.touched))" >
        <div [hidden]="!passwordEntry.errors.required" class="errmsg">{{errorpw}}</div>
      </div> 



      <button type="button" (click)="login()">login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>